<!DOCTYPE html>
<html>
  <head>
    <title>Stock</title>
    <style>
      .user {
        text-align: right;
        color: blue;
      }
      form {
        text-align: center;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
  </head>
  <body>
  <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script> $(function() { var submit_form = function(e) {
                         $.getJSON('/stock/view', {
                         symbol: $('input[name="symbol"]').val()
                         }, function(data) {
        $('#symbol').text(data.symbol);
        $('#price').text(data.price);
        $('#volume').text(data.volume);
        $('#timestamp').text(data.timestamp);
        $("#buy_symbol").val(data.symbol);
        $("#sell_symbol").val(data.symbol);
        $('input[name=symbol]').focus().select();
      });
      return false;
    };
    $('a#calculate').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=symbol]').focus();});</script>
  <h1 class="Stock">Stock</h1>
  <hr>
  <p class="user">Welcome {{name}}</p>
  <form action="http://localhost:5000/profile" method="get">
    <input type="submit" style="float: right;" value="Profile View">
  </form>
  <form action="http://localhost:5000/logout" method="get">
    <input type="submit" style="float: right;" value="Log out">
  </form>
  <br>
  <br>
  <p align="center"> Ticker Symbol : <input type="text" name="symbol">
    <a href=# id="calculate">Get Quote</a></p>

  <br>
  <p align="center"><b>Stock Quote</b></p>
  <table>
  <!-- table header -->
  <tr>
    <th> Symbol </th>
    <th> Price </th>
    <th> Volume </th>
    <th> Timestamp </th>
  </tr>
  <!-- table rows -->
  <tr>
    <td><span id="symbol"></span></td>
    <td><span id="price"></span></td>
    <td><span id="volume"></span></td>
    <td><span id="timestamp"></span></td>
  </tr>
  </table>
  <form onsubmit="return confirm('Do you really want to buy the stock');"
        action="http://localhost:5000/stock/buy" method="post">
      <input type="hidden" value="{{user_id}}" name="id">
      <input type="hidden" id="buy_symbol" value="" name="symbol">
      <input type="hidden" value=1 name="buy_flag">
      Quantity<input type="number" min="0" name="quantity" value="0">
      <input type="submit" value="Buy">
  </form>
  <form onsubmit="return confirm('Do you really want to sell the stock');"
        action="http://localhost:5000/stock/buy" method="post">
      <input type="hidden" value="{{user_id}}" name="id">
      <input type="hidden" id="sell_symbol" value="" name="symbol">
      <input type="hidden" value=0 name="buy_flag">
      Quantity<input type="number" min="0" name="quantity" value="0">
      <input type="submit" value="Sell">
  </form>
    <br><br>
    <p align="center"><b>Stock History</b></p>
  <table>
  <!-- table header -->
  {% if stock_history %}
  <tr>
     {% for key in stock_history[0] %}
     <th> {{ key }} </th>
     {% endfor %}
  </tr>
  {% endif %}

  <!-- table rows -->
  {% for dict_item in stock_history %}
  <tr align="center">
     {% for value in dict_item.values() %}
     <td> {{ value }} </td>
     {% endfor %}
  </tr>
  {% endfor %}
</table>
  <br><br>
  {% block content %}
    {% endblock %}
  </body>
</html>
